#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    z-index: 10000;
    background-color: #000;
    padding-bottom: 50px;

    // 스크롤바 안보이게
    -ms-overflow-style: none; // 인터넷 익스플로러 
    scrollbar-width: none; // 파이어폭스
    // 크롬, 사파리, 오페라, 엣지
    &::-webkit-scrollbar {
        display: none;
    }
}

#main {
    min-height: 100vh;
    margin-left: 260px;
    padding: 0 30px;
    width: calc(100% - 260px);
    background-color: #111;
}

#footer {
    text-align: center;
    background-color: #333;
    padding: 20px;
    margin-left: 260px;
    width: calc(100% - 260px);
    color: var(--placeholder);
    font-size: 12px;
}

@media (max-width: 800px) {
    #header {left: -260px;}

    #main {
        width: 100%;
        margin-left: 0;
    }
}
