.developer {
    text-align: center;

    .developer__img {
        a {
            border-radius: 100px;
            overflow: hidden;
        }
    }
    .developer__info {
        a {
            width: 100%;
            margin-top: 10px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
        }
    }    
}

#developerPage {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#developerPage .developer__inner {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;
}

@media (max-width: 800px) {
    #developerPage {
        margin-top: 80px;
    }
}